<header>
    <nav>
        <a href="/" class="logo">Library</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/books/add">Add Book</a></li>
        </ul>
    </nav>
</header>