<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <h1>About This Project</h1>
        <p>This is a small library project built with Express.js to keep track of all available books. You can add new books and view the list of all books available.</p>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>