<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>
    <main>
        <h1>Available Books</h1>
        <div class="book-list">
            <!-- Sample book item -->
            <div class="book">
                <h2>Book Title 1 BookTitl</h2>
                <p>Author: John Doe</p>
                <p>Genre: </p>
            </div>
            <div class="book">
                <h2>Book Title 2</h2>
                <p>Author: Jane Smith</p>
                <p>Genre: </p>
            </div>
            <div class="book">
                <h2>Book Title 2</h2>
                <p>Author: Jane Smith</p>
                <p>Genre: </p>
            </div>
            <div class="book">
                <h2>Book Title 2</h2>
                <p>Author: Jane Smith</p>
                <p>Genre: </p>
            </div>
            <div class="book">
                <h2>Book Title 2</h2>
                <p>Author: Jane Smith</p>
                <p>Genre: </p>
            </div>
            <div class="book">
                <h2>Book Title 2</h2>
                <p>Author: Jane Smith</p>
                <p>Genre: </p>
            </div>
            <div class="book">
                <h2>Book Title 2</h2>
                <p>Author: Jane Smith</p>
                <p>Genre: </p>
            </div>
            <div class="book">
                <h2>Book Title 2</h2>
                <p>Author: Jane Smith</p>
                <p>Genre: </p>
            </div>
            <!-- Add more books dynamically -->
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>